terraform/gke-cluster/terraform.tfstate
terraform/gke-cluster/.terraform/*
gcp-cloud-build-key
gcp-cloud-build-key.pub
argocd-repo-secret.yaml
terraform/gke-cluster/terraform.tfstate.backup
gcloud artifacts repositories describe rootsnwings-repo --location=europe-west2 --format="value(vulnerabilityScanningConfig)"
